<!DOCTYPE html>
<html>
    <head>
        <title>Image Delete Confirmation</title>
        <meta charset = "utf-8" />
        <style>
            div {
                text-align: center;
                width: 25%;
                margin: auto;
                border: black 1px solid;
            }

            ol {
                list-style-position: inside;
            }

        </style>
    </head>
    <body>
        <div>
            <h1>Image has been deleted!</h1>
            <a href="/">Click here to go back to your home page</a>
        </div>
    </body>
</html>